{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions"
        ]
      },
      "loose": false,
      "modules": false,
      "useBuiltIns": true,
      "include": [],
      "exclude": []
    }],
    "react"
  ],
  "plugins": [
    "syntax-decorators"
  ]
}